# ######################################################################
# Creality Ender 3 with BBT SKR Mini E3 V3.0
# Klipper & Fluidd
# Raspberry Pi 3B
# PiCam v2
# Mag Mounted Bed Probe
# Dual-Z via single stepper
# Updated 10/14/2024
#
# 
# ######################################################################
[include fluidd.cfg]
[include configs/macros.cfg]
[include configs/menu.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_03002C000E50415833323520-if00

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points: 115, 115, 20

[virtual_sdcard]
path: /home/ender/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[respond]
# Enabled the use of M118
default_type: command
default_prefix: >

[printer]
max_accel: 2700

[input_shaper]
shaper_freq_x: 49.8
shaper_type_x: 2hump_ei
shaper_freq_y: 47.0
shaper_type_y: ei

[exclude_object]

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 10, 10
mesh_max: 190, 220
probe_count: 5,5

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_min:  0
position_max: 242
homing_speed: 65

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: -3
position_max: 235
position_min: -3
homing_speed: 65

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
# endstop_pin: ^PC2
# position_endstop: 0.0
endstop_pin: probe: z_virtual_endstop
position_max: 250
position_min: -3

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 31.0021
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
control: pid
pid_Kp: 69.823
pid_Ki: 1.546
pid_Kd: 788.124
min_temp: 0
max_temp: 130

[heater_fan controller_fan]
pin: PB15
heater: heater_bed
heater_temp: 45.0

[heater_fan nozzle_cooling_fan]
pin: PC7

[fan] #part cooling fan
pin: PC6

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 10
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>


######################################################################
#  BigTreeTech TFT TouchScreen emulated 12864 mode
######################################################################
[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1

#####################################################################
# Probe
#####################################################################
[probe]
pin: ^PC2
#z_offset: 2.199
x_offset: 2.0
y_offset: 21
speed: 5.0
lift_speed: 15.0
sample_retract_dist: 1
samples: 2
samples_tolerance_retries: 6

##[(7x7)-1] / 2 = 24
##[(5x5)-1] / 2 = 12
[bed_mesh]
speed: 300
horizontal_move_z: 5
mesh_min: 8,30
mesh_max: 205,201
probe_count: 7,7
zero_reference_position: 117, 117
algorithm: bicubic
fade_start: 1
fade_end: 10
split_delta_z: 0.015
move_check_distance: 3
mesh_pps: 4,4

[homing_override]
axes: z
set_position_z: 0
gcode:
    G90
    G1 Z10 F3000 
    {% if "x" not in (printer.toolhead.homed_axes | lower) %}
        G28 X
    {% endif %}
    {% if "y" not in (printer.toolhead.homed_axes | lower) %}
        G28 Y
    {% endif %}
    PROBE_DEPLOY
    G1 X117 Y117 F6000
    G28 Z
    {% if printer["gcode_macro _VARIABLES"].leaveprobe != 1 %}
    PROBE_DOCK
    {% endif %}

[screws_tilt_adjust]
screw1: 30,182
screw1_name: Back Left
screw2: 182,182
screw2_name: Back Right
screw3: 182,11
screw3_name: Front Right
screw4: 30,11
screw4_name: Front Left
screw_thread: CW-M4
horizontal_move_z: 5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
